@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900&subset=latin-ext");
body {
margin: 0;
padding: 0;
background-color: #647587;
}
* {
box-sizing: border-box;
font-family: 'Lato', sans-serif;
}
.btn-delete, .btn-col-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: 0;
  background-color: #F10;
  color: white;
  margin: 10px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}

.btn-edit, .btn-col-edit {
  position: absolute;
  right: 30px;
  top: 0;
  width: 28px;
  height: 28px;
  border: 0;
  background-color: #3CB371;
  color: white;
  margin: 10px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  outline: none;
}
.create-column {
  width: 200px;
  height: 45px;
  font-size: 20px;
  background-color: #CCCC00;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
}
.create-column:hover {
  background-color: #CCCCFF;
  border: 2px solid #fff;
}
/* BOARD */
.board {
  text-align: center;
}
.board button {
  border-radius: 5px;
}
.board h1 {
  color: #fff;
  margin: 0;
  padding: 30px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #FFCC00;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

/* COLUMN */
.column {
  order: 1;
  min-width: 300px;
  min-height: 150px;
  background-color: #C9C9C9;
  margin: 20px;
  list-style: none;
  position: relative;
}
.column button {
  border-radius: 5px;
}
.column-card-list {
  min-height: 50px;
}
.column-title {
  background-color: #FAFCF4;
  margin: 0;
  padding: 10px;
  text-align: center;
}
.column-add-card {
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 8px;
  display: block;
}

/* STYLE KARTY */
.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card:hover {
  background-color: #B0B0B0;
}

.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 2px 0;
  height: 20px;
  font-size: 16px;
  color: #000;
}
.card-placeholder, .ui-sortable-helper {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid #808080;
  sbackground-color: #EEE8AA;
}
ul {
  padding: 0;
}
